<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <!-- float -->
  <div class="float">
    <div class="left1"></div>
    <div class="right1"></div>
    <div class="container1">
      <h1>主要内容区域</h1>
    </div>
  </div>
  <hr>

  <!-- position -->
  <div class="position">
    <div class="left2"></div>
    <div class="right2"></div>
    <div class="container2">
      <h1>主要内容区域</h1>
    </div>
  </div>
  <hr>

  <!-- -margin -->
  <div class="margin">
    <div class="container3">
      <h1>主要内容区域</h1>
    </div>
    <div class="left3"></div>
    <div class="right3"></div>
  </div>
  <hr>

  <!-- flex -->
  <div class="flex">
    <div class="left4"></div>
    <div class="container4">
      <h1>主要内容区域</h1>
    </div>
    <div class="right4"></div>
  </div>
  <hr>

  <!-- grid -->
  <div class="grid">
    <div class="left5"></div>
    <div class="container5">
      <h1>主要内容区域</h1>
    </div>
    <div class="right5"></div>
  </div>
  <hr>
</body>
</html>